themes {
    custom {
        fg "#E6D7C3"
        bg "#0a0a0a"
        black "#0a0a0a"
        red "#EA4727"
        green "#48E998"
        yellow "#FDDF6E"
        blue "#5EC4FF"
        magenta "#BD2423"
        cyan "#2F6883"
        white "#E6D7C3"
        orange "#FBA445"

        tab_bar {
            background "#0a0a0a"
            active_tab {
                bg_color "#5EC4FF"
                fg_color "#0a0a0a"
            }
            inactive_tab {
                bg_color "#0a0a0a"
                fg_color "#E6D7C3"
            }
        }

        pane_frames {
            active {
                bg_color "#5EC4FF"
                fg_color "#0a0a0a"
            }
            inactive {
                bg_color "#0a0a0a"
                fg_color "#E6D7C3"
            }
        }

        status_bar {
            background "#0a0a0a"
            text "#E6D7C3"
        }
    }
}
